POSTGRES_USER=user
POSTGRES_PASSWORD=replace-with-local-password
POSTGRES_DB=library

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=replace-with-local-password

KEYCLOAK_DB_USERNAME=keycloak_user
KEYCLOAK_DB_PASSWORD=replace-with-local-password

KEYCLOAK_STAFF_DEMO_PASSWORD=replace-with-local-staff-password
KEYCLOAK_NONSTAFF_DEMO_PASSWORD=replace-with-local-nonstaff-password